[submodule "spaceman"]
	path = spaceman
	url = https://github.com/KobeTools/spaceman.git
	branch = main
[submodule "maccy"]
	path = maccy
	url = https://github.com/KobeTools/Maccy.git
	branch = master
[submodule "finetune"]
	path = finetune
	url = https://github.com/KobeTools/FineTune.git
	branch = main
[submodule "dockdoor"]
	path = dockdoor
	url = https://github.com/KobeTools/DockDoor.git
	branch = main
[submodule "wox"]
	path = wox
	url = https://github.com/KobeTools/Wox.git
	branch = master
